.card {
  display: flex;
  flex-direction: column;
  border: 2px solid rgba(40, 40, 200, 0.8);
  border-radius: 5px;
  padding: 20px;
  box-shadow: inset 2px 2px 5px rgba(100, 100, 100, 0.8);
}

.card h3 {
  text-align: center;
  align-self: center;
  width: 100%;
}

.card img {

  height: 180px;
}
